.footer-container{
    background-color: #30476A;
    place-content:  center;
    padding: 10px; 
    height: 2.5rem;
}
.footer-container p{
    font-size: 15px;
    color: #fff; 
}
.detail-holder{
    display: flex;
    justify-content: center;
}
@media screen and (max-width:26em) {
    .footer-container p{
        font-size: 10px;
    }

}